/* Flex container */
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2rem; /* Reduce margin */
    padding: 1rem; /* Reduce padding */
  }
  
  /* Flex items */
  .gallery > div {
    margin: 0.5rem; /* Reduce margin between items */
    text-align: center; /* Center the text */
  }
  
  /* Founder names */
  .founder-name {
    color: #000; /* Make the text dark */
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  /* Founder title */
  .founders-title {
    color: #000; /* Make the title dark */
    font-weight: bold;
  }
  
  /* Founder description */
  .founder-description {
    margin: 0.5rem 1rem; /* Adjust margin for better spacing */
  }
  
  @media screen and (max-width: 768px) {
    .gallery > div {
      width: 49%;
      height: auto; /* Adjust height to auto for better responsiveness */
      margin: 8px; /* Reduce margin for smaller screens */
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .gallery > div {
      width: 100%;
      height: auto; /* Adjust height to auto for better responsiveness */
    }
  }
  